@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.slides, html > .dg, body > .dg {
  display: none;
}

.slides {
  background-color: transparent; /* or any other color you prefer */
}


.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
